<div class="portfolio-container">
    <div class="portfolio-header">
        <h1>{{portfolio.title}}</h1>
        <p class="portfolio-description">{{portfolio.description}}</p>

        {{#if currentUser}}
            <div class="portfolio-actions">
                {{#if (eq currentUser.userId (toString portfolio.ownerId))}}
                    <a href="/portfolio/{{portfolio._id}}/edit" class="btn-edit">Edit Portfolio</a>
                {{/if}}
                <form action="/portfolio/{{portfolio._id}}/copy" method="POST" style="display:inline">
                    <button type="submit" class="btn-copy">Copy this portfolio</button>
                </form>
            </div>
        {{/if}}
    </div>

    {{#unless portfolio.layout.singlePage}}
        <div class="portfolio-navigation">
            <ul class="page-tabs">
                {{#each portfolio.layout.pages}}
                    <li class="page-tab {{#if (eq @index ../currentPageIndex)}}active{{/if}}">
                        <a href="/portfolio/{{../portfolio._id}}?page={{@index}}">{{this.title}}</a>
                    </li>
                {{/each}}
            </ul>
        </div>
    {{/unless}}

    {{#each (sortBy (default filteredSections portfolio.sections) "order")}}
        <section class="portfolio-section">
            {{#if (eq this.type "education")}}
                <h2>Education</h2>
                <div class="section-items">
                    {{#each (sortBy this.items "order")}}
                        <div class="education-item">
                            <h3>{{this.institution}}</h3>
                            <h4>{{this.degree}}</h4>
                            {{#if this.startDate}}
                            <p class="date-range">
                                {{formatDate this.startDate}} - 
                                {{#if this.endDate}}
                                    {{formatDate this.endDate}}
                                {{else}}
                                    Present
                                {{/if}}
                            </p>
                            {{else}}
                                {{#if this.endDate}}
                                <p class="date-range">
                                    Completed: {{formatDate this.endDate}}
                                </p>
                                {{/if}}
                            {{/if}}
                            {{#if this.location}}
                                <p class="location">{{this.location}}</p>
                            {{/if}}
                            {{#if this.description}}
                                <p class="description">{{this.description}}</p>
                            {{/if}}
                        </div>
                    {{/each}}
                </div>
            {{/if}}

            {{#if (eq this.type "work")}}
                <h2>Work Experience</h2>
                <div class="section-items">
                    {{#each (sortBy this.items "order")}}
                        <div class="work-item">
                            <h3>{{this.company}}</h3>
                            <h4>{{this.role}}</h4>
                            {{#if this.startDate}}
                            <p class="date-range">
                                {{formatDate this.startDate}} - 
                                {{#if this.endDate}}
                                    {{formatDate this.endDate}}
                                {{else}}
                                    Present
                                {{/if}}
                            </p>
                            {{/if}}
                            {{#if this.location}}
                                <p class="location">{{this.location}}</p>
                            {{/if}}
                            {{#if this.description}}
                                <p class="description">{{this.description}}</p>
                            {{/if}}
                            {{#if this.achievements}}
                                <div class="achievements">
                                    <h5>Achievements:</h5>
                                    <ul>
                                        {{#each this.achievements}}
                                            <li>{{this}}</li>
                                        {{/each}}
                                    </ul>
                                </div>
                            {{/if}}
                        </div>
                    {{/each}}
                </div>
            {{/if}}

            {{#if (eq this.type "certification")}}
                <h2>Certifications</h2>
                <div class="section-items">
                    {{#each (sortBy this.items "order")}}
                        <div class="certification-item">
                            <h3>{{this.title}}</h3>
                            <h4>{{this.issuer}}</h4>
                            <p class="date-range">
                                {{#if this.issueDate}}
                                    Issued: {{formatDate this.issueDate}}
                                {{/if}}
                                {{#if this.expirationDate}}
                                    {{#if this.issueDate}}<br>{{/if}}Expires: {{formatDate this.expirationDate}}
                                {{/if}}
                            </p>
                            {{#if this.description}}
                                <p class="description">{{this.description}}</p>
                            {{/if}}
                        </div>
                    {{/each}}
                </div>
            {{/if}}

            {{#if (eq this.type "project")}}
                <h2>Projects</h2>
                <div class="section-items">
                    {{#each (sortBy this.items "order")}}
                        <div class="project-item">
                            <h3>{{this.title}}</h3>
                            {{#if this.description}}
                                <p class="description">{{this.description}}</p>
                            {{/if}}
                            {{#if this.technologies}}
                                <div class="technologies">
                                    <h5>Technologies:</h5>
                                    <ul class="tech-list">
                                        {{#each this.technologies}}
                                            <li>{{this}}</li>
                                        {{/each}}
                                    </ul>
                                </div>
                            {{/if}}
                            {{#if this.startDate}}
                                <p class="date-range">
                                    {{formatDate this.startDate}} - 
                                    {{#if this.endDate}}
                                        {{formatDate this.endDate}}
                                    {{else}}
                                        Present
                                    {{/if}}
                                </p>
                            {{/if}}
                            {{#if this.githubRepo}}
                                <p class="github-link">
                                    <a href="{{this.githubRepo}}" target="_blank">GitHub Repository</a>
                                </p>
                            {{/if}}
                        </div>
                    {{/each}}
                </div>
            {{/if}}

            {{#if (eq this.type "custom")}}
                <h2>{{this.items.[0].title}}</h2>
                <div class="section-items">
                    {{#each this.items}}
                        <div class="custom-section">
                            <div class="custom-content">
                                {{{this.content}}}
                            </div>
                        </div>
                    {{/each}}
                </div>
            {{/if}}
        </section>
    {{/each}}

    {{#if portfolio.contactButtonEnabled}}
        <div class="contact-section">
            <h2>Contact Me</h2>
            <a href="/contact-form/{{portfolio._id}}" class="btn-primary contact-button">Contact Me</a>
        </div>
    {{/if}}
</div>
