<h1>User Profile</h1>
<p>Hello, {{firstName}}!</p>

<div class="portfolios-section">
    <h2>Your Portfolios</h2>

    {{#if portfolios.length}}
        <ul class="portfolios-list">
            {{#each portfolios}}
                <li class="portfolio-item">
                    <a href="/portfolio/{{this._id}}" class="portfolio-link">
                        <h3>{{this.title}}</h3>
                        <p>{{this.description}}</p>
                    </a>
                </li>
            {{/each}}
        </ul>
    {{else}}
        <p>You don't have any portfolios yet.</p>
    {{/if}}

    <div class="create-portfolio">
        <a href="/create" class="create-button">Create New Portfolio</a>
    </div>
</div>
